select {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    text-align: center;
    justify-content: center;
}

option {
    padding: 10px;
    background-color: #fff;
    color: #333;
}

select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}
/* Estilos para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1; /* Encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro */
}

  /* Contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho */
}

  /* Botón de cierre */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}